<link rel="stylesheet" href="..\..\styles\nav.php" />

<body>
  <!-- Navbar Section -->
  <nav class="navbar">
    <ul class="nav-links">
      <li><a href="../grade/grade_report.php">Grade</a></li>
      <li><a href="../student/student_report.php">Student</a></li>
      <li><a href="../teacher/teacher_report.php">Teacher</a></li>
      <li><a href="../mark/mark_select.php">Mark</a></li>
      <li><a href="../subject/subject_report.php">Subject</a></li>
      <li>
        <a href="../grade_subject/grade_subject_report.php">Grade_Subject</a>
      </li>
    </ul>
  </nav>
</body>
